body {
  margin: 0px;
  padding: 0px;
}

.title-bar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: #424242;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  padding: 8px;
}

.buttons {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 10px;
}

.window-btn {
  border-radius: 12px;
  padding: 0;
  width: 12px;
  height: 12px;
  float: left;
  margin-top: 2px;
}

.buttons > .close-btn {
  background-color: #CE1217;
}

.buttons > .minimize-btn {
  background-color: #E48C6C;
  margin-left: 5px;
}

.buttons > .maximize-btn {
  background-color: #0D8F54;
  margin-left: 5px;
}

.buttons-label {
  position: absolute;
  left: 8px;
  top: 0px;
  list-style-type: none;
  opacity: 0.0;
  padding: 0px;
  width: 50px;
  height: 20px
}

.buttons-label:hover {
  opacity: 1.0;
}

.close-btn-label {
  margin-left: 2px;
  margin-top: -8px;
  color: rgb(132, 16, 19);
}

.minimize-btn-label {
  margin-left: 5px;
  margin-top: -14px;
  color: rgb(142, 52, 19);
}

.maximize-btn-label {
  margin-left: 22px;
  margin-top: -6px;
  color: rgb(13, 86, 53);
}

.content {
  -webkit-user-select: auto;
  -webkit-app-region: none;
}